.App-Wraper {
    margin: 0 auto;
    display: grid;
    width: 1200px;
    grid-template-areas:
'Header Header'
 'Navigation MainContent';


    grid-template-rows: 70px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 120px;*/
}


.App-Wraper-content {

    grid-area: MainContent;
    background-color: cornflowerblue;



/*.MainContent img {*/
/*    width: 700px;*/
/*    height: 180px;*/
/*}*/


}


